.wrapper {
  margin-left: 92px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.button {
  padding: 14px 40px;
  border-radius: 30px;
  color: var(--text-site-color);
}

/* var(--border-color) */

.btnLogin {
  background-color: transparent;
  border: 1px solid var(--border-color);
}

.btnReg {
  background-color: var(--base-site-color);
  border: none;
}
