body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: var(--base-text-color);
  background-color: var(--bg-site-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  /* max-width: 100%; */
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding: 0 128px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.flex {
  display: flex;
}

.select-input {
  padding: 14px 18px;
  border-radius: 14px;
  border: transparent;
  background-color: var(--base-site-color);
}

.select {
  position: relative;
  display: block;
  max-width: 226px;
  width: 100%;
  margin-bottom: 20px;
}

.select-head {
  margin-top: 8px;
  width: 100%;
  max-width: 100%;
  border-radius: 14px;
  padding: 14px 18px;
  font-size: 18px;
  line-height: calc(20 / 18);
  background-color: var(--base-site-color);
  color: var(--text-site-color);
  cursor: pointer;
}

.select-btn {
  position: absolute;
  top: 30px;
  right: 18px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-color: transparent;
  transform: translateY(50%);
  cursor: pointer;
}

.select-list {
  /* display: none; */
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 14px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  padding: 18px;
  font-size: 18px;
  line-height: calc(20 / 18);
  color: #11101c4d;
}

.select-item:not(:last-child) {
  margin-bottom: 12px;
}

.select-item-active {
  color: var(--base-text-color);
}
