.wrapper {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.blockOut {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-left: 15px;
  padding: 8px 10px;
  border-radius: 15px;
  border: transparent;
  background-color: var(--base-site-color);
  color: var(--text-site-color);
}
